// $accentColor = #E4002B
// $accentColor = #E0082A
$accentColor = #f37728
// $accentColor = blue
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// Layout configuration
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

.theme-container.custom-home-page {
    .home .hero img {
        // max-height: 230px;
        max-width: 400px;
        margin: 5rem auto 3.5rem
        }
}